.cards {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  margin: 10px;
}

.card {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 500px;
}

.card > img {
  margin-right: 20px;
}
